services:
  postgres:
    image: postgres:16-alpine
    container_name: movie-db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: movie_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
